@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .main {
    display: contents;
  }
  .res__div {
    order: 3;
  }
}
