@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.main_Wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media (max-width: 1024px) {
  .main_Wrapper {
    display: flex !important;
    flex-direction: column;
  }
  .main {
    display: contents;
  }
  .res__div {
    order: 3;
  }
  .flex__reverse {
    flex-direction: column-reverse;
  }
}
